Package: com.767.telegramtweak
Name: Telegram 767 MOD (Ghost Mode)
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm64
Description: 767 MOD - Ghost Mode + Black Menu for Telegram
Maintainer: 767
Author: 767
Section: Tweaks
